
local_test/ml_vol/
**/test_results/
**/artifacts
ml_vol/outputs/
**/examples/**/*.txt

!pretrained_model
pretrained_model/*
!pretrained_model/url_list.txt

artifacts/
hpt_results/

**/*_no_hpt.csv
**/*_with_hpt.csv
**/model_*_*_*.json

docker-compose.yaml
build_and_push.sh
venv/


__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
