version: "3"
services:
  algo_app:
    build: .
    volumes:
      - ./../ml_vol:/opt/ml_vol
    ports:
      - 8080:8080
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    command: tail -f /dev/null # keep the container running
